.person__subject {
  box-sizing: border-box;
  border-radius: 100%;
  height: 48px;
  width: 48px;
}

.person__subject--father {
  background: blue;
}

.person__subject--mother {
  background: red;
}

.person__subject--subject {
  background: linear-gradient(red, blue);
  animation: spin 4s linear infinite;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform:rotate(360deg);
  }
}
