.person {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 8px;
}

.person__self {
  box-sizing: border-box;
  border-radius: 100%;
  height: 48px;
  width: 48px;
}

.person__self--father {
  background: blue;
}

.person__self--mother {
  background: red;
}

.person__self--subject {
  background: linear-gradient(red, blue);
  animation: spin 4s linear infinite;
}

.person__ascendents {
  display: flex;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform:rotate(360deg);
  }
}
