.notification-center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
}

.notification {
  padding: 8px;
  border: 2px solid;
  border-radius: 4px;
}

.notification + .notification {
  margin-top: 16px;
}

.notification--message {
  background-color:  white;
  border-color:  black;
}

.notification header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}

.notification__close-button {
  cursor: pointer;
}
